*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 忽略myeclipse工程文件
.settings
.classpath
.project
.mymetadata
# 忽略target目录
target
#其他忽略文件
.myumldata
src/main/webapp/META-INF
#忽略classes文件
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/content
#忽略META-INF文件夹 add by ouyang 2015-02-03
src/main/java/META-INF
#idea file
.idea
zxy-student.iml
/bin
/src/main/resources/rebel.xml
/.springBeans
.DS_Store

